<%= link_to root_path, class: "text-decoration-none" do %>
  <span class="navbar-brand d-flex align-items-center gap-2">
    <span class="logo-script">VidaLeve</span>
    <i class="bi bi-feather text-success"></i>
  </span>
<% end %>