<nav class="navbar navbar-expand-lg bg-white py-3 navbar-soft">
  <div class="container">

    <%= render "shared/logo" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav mx-auto gap-4">
        <li class="nav-item">
          <a class="nav-link px-2" href="#">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2" href="#">Nossa plataforma</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2" href="#">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2" href="#">Planos</a>
        </li>
      </ul>

      <div class="d-flex align-items-center gap-3">
        <% if user_signed_in? %>
          <%= link_to "Dashboard", "#", class: "btn btn-soft btn-pill" %>
        <% else %>
          <%= link_to "Entrar", new_user_session_path, class: "btn btn-soft btn-pill" %>
          <%= link_to "Converse conosco", "#", class: "btn btn-primary btn-pill" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>